* {
    padding: 0;
    margin: 0;
    font: 1rem/1.8rem "Open Sans", sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}
a {
    color: #333;
    text-decoration: none;
    transition: all 350ms;
}
.cover {
    position: fixed;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.background {
    background: url(/img/background.jpg) center/cover no-repeat fixed;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-linear-gradient(180deg, rgba(10, 20, 40, .4) 30%, rgba(0, 0, 0, .2) 80%) 0 0/cover fixed;
    background: linear-gradient(180deg, rgba(10, 20, 40, .4) 30%, rgba(0, 0, 0, .2) 80%) 0 0/cover fixed;
    margin: 0 auto;
    text-align: center;
    color: #F8F8F8;
    text-shadow: 0 .05em 0 rgba(0, 0, 0, .5);
}
.profile {
    max-width: 45em;
}
.profile > img {
    width: 7rem;
    border-radius: 50%;
}
.profile > h1 {
    font: 1.6rem "Open Sans", sans-serif;
    font-weight: 700;
    margin: 10px auto;
    letter-spacing: .05rem;
    color: #f8f8f8;
}
.profile>h3 {
    font-weight: 300;
    font-size: 110%;
}
.divider {
    border-top: 1px solid rgba(255, 255, 255, .14);
    margin: 10px auto;
}
.divider.long {
    width: 30%;
}
.divider.short {
    width: 15%;
}
.profile > p {
    margin: 10px 2rem;
    font-size: .95rem;
    line-height: 1.5rem;
}
.navigation.left {
    margin-top: 0;
    margin-bottom: 1rem;
}
.navigation.left {
    display: inline-block;
}
ul {
    list-style: none;
}
.navigation.left .links > li {
    display: block;
    margin: 0 1px 0 0;
    line-height: 1em;
}
.navigation.left .links > li.expanded, .navigation.left .links > li > a, .navigation.right .social.item a {
    position: relative;
    display: block;
    font-size: .93em;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    text-shadow: none;
}
.navigation.left .links > li.expanded {
    display: inline-block;
    margin: 0 5px;
    border-radius: 20px;
}
.navigation.left .links > li.expanded > a {
    padding: .625rem 1.25rem;
}
.navigation.left .links > li > a {
    display: block;
    float: none;
    position: relative;
    padding: .5rem 1.25rem;
    opacity: 1;
    color: white;
    line-height: 1em;
}
.navigation.left .links > li > a::after {
    position: absolute;
    top: 100%;
    left: 15%;
    width: 70%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.25s, opacity 0.25s, -webkit-transform 0.25s;
    -moz-transition: height 0.25s, opacity 0.25s, -moz-transform 0.25s;
    transition: height 0.25s, opacity 0.25s, transform 0.25s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.navigation.left .links > li > a:hover::after, .navigation.left .links > li > a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
